*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
body{
    margin: 0 auto;
}
/* Header */
header{     
    justify-content: center;
    height: 30px;
}
.header-main{
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    height: 100px;
    justify-content: space-between;
}
.subheader{
    border-bottom: 1px solid rgb(195, 190, 190);
    border-top: 1px solid rgb(195, 190, 190);
    
}
.subheader a{
    display: inline;
    text-decoration: none;
    color: black;
}
.links{
    max-width: 1200px;;
    display: grid;
    grid-template-columns: auto;
    grid-column: auto;
    align-items: center;
    justify-content: space-around;
    margin:0 auto;
    grid-auto-flow: column;
    justify-content: space-between;
    font-weight: bold
}
.links div{
    text-align: center;
    padding: 10px;
}
header button , header a{
    text-decoration: none;
    border:none;
    background: transparent;
    font-size: 17px;
    padding: 14px;
    color: black;
}
header i{
    color: rgb(73, 73, 248);
}
#btn-especial{
    border-right: 1px solid rgb(195, 190, 190);
}
#color2{
    color: rgb(158, 0, 0);
}
#color3{
    color: blue;
}
#color4{
    color: green;
}
#color5{
    color: greenyellow;
}
#color6{
    color: gray;
}
#color7{
    color: rgb(255, 0, 0);
}
#color8{
    color: orangered;
}

#color10{
    color: rgb(73, 73, 248);
}
/* Conteudo */
main{
    max-width: 1200px;
    margin: 160px auto;
    display: flex;
}
main img{
    max-width: 100%;
    border-radius: 12px;
}
.first-column{
    width: 624px;
    border-right: 1px solid rgb(195, 190, 190);
    padding-right: 30px; 
}
.big-content{
    padding-bottom: 20px;
}
.first-grid{
    border-top: 1px solid rgb(195, 190, 190);
    padding-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}
.first-grid-content p{
    color: #c4170c;
    font-weight: bold;
}

h4{
    color:#2f3134;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    margin-top: 4px;
}
/* segunda section */
.second-column-content{
    display: inline;
    
 }
 .second-column-content div{
    margin-bottom: 40px;
    width: 240px;
  }
  .second-column-content p{
    color: green;
    font-weight: bold;
  }
 
.second-column{
    padding: 0 30px 30px 30px;
    width: 240px;
    border-right: 1px solid rgb(195, 190, 190);
}
.second-column-content img{
    width: 240px;
    height: 128px;
    
}
p , li, ul{
    color: #2f3134;
    font-size: 17px;
}
ul{
    padding-left: 16px;
}
/* terceira coluna */
.third-column{
    width: 240px;
    justify-content: center;
}
.third-column{
    margin-left: 23px;
    justify-content: center;
}
.third-column div{
    margin-bottom: 100px;
}
.third-column button{
    background-color: orangered;
    color: white;
    font-weight: bold;
    border-radius: 9px;
    height: 34px;
    text-align: center;
    border: none;
    width: 100%;
    transition: 2s;
    margin: 5px;
}
.third-column div > a{
    font-size: 20px;
}
.third-column a{
    text-decoration: none;
    border:none;
    background: transparent;
    font-size: 17px;
    padding: 14px;
    color: black;
}
.third-column p{
    font-weight: bold;
    color: orangered;
}
footer{
    background-color: #0031ff;
    color: white;
    align-items: center;
    justify-content: center; 
    height: 300px;
}
footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 9px;
    font-size: 15px;
}
footer div > a{
    font-size: 30px;
}
footer li{
    display: inline;
}
footer div{
    display: flex;
    align-items: center;
    justify-content:space-around;
    
}
address{
    margin:50px 0 0 356px;
    font-size: 13px;
    font-weight: bold;
   
}